<% layout('layouts/boilerplateV2') %>
  <div class="card card-blog card-plain" style="width: 48rem;">
    <div class="position-relative">
      <a class="d-block blur-shadow-image">
        <img src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
      </a>
    </div>
    <div class="card-body px-0 pt-4">
      <p class="text-primary font-weight-bold text-sm text-uppercase">Autor: Kevin</p>
      <a href="javascript:;">
        <h5>
          Descripcion: Metricas control ambiental
        </h5>
      </a>
    </div>
  </div>
    